# Node
node_modules/
dist/
.npm-cache/
.ruff_cache/

# Frontend local config
frontend/config/*.local.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
